div#dungeon-bg {
    background-image: url(/images/dungeon_dweller_code.png);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
}

section.contact-main {
    background-image: url(/images/website_under_construction.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

div.contact-form {
    background-color: rgba(232, 229, 220, .95);
}

img.rounded-circle.me-3 {
    width: 100px;
}

a.navbar-brand {
    font-size: 2rem;
}

div#dd-text {
    background-color: rgba(232, 229, 220, .9);
    width: 100%;
    border-radius: 5px;
}

